<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://jcrg2winfctapp1.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/72b3c902-382b-4243-92a3-7f209b50fc2c/resourceGroups/jc-rg-2/providers/Microsoft.Web/sites/jcrg2winfctapp1</ResourceId>
    <UserName>$jcrg2winfctapp1</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://jcrg2winfctapp1.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>